RewriteEngine On

# Rediriger toutes les requêtes vers index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Définir le type MIME pour les fichiers JSON
AddType application/json .json

# Désactiver l'affichage des erreurs PHP en production
php_flag display_errors Off
php_flag log_errors On
